@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300&display=swap');

body{
    background: #0d192b;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Grandstander', cursive;
    font-size: 1.2em;
}

.containter-border{
    border: 90px solid #2ec9bc;
    border-top: 0px;
}

h1{
    font-size: 2em;
}

p{
    padding: 5% 20% 0% 20%;
}

form{
    font-size: 1.2em;
    padding: 0% 0% 2% 0%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li{
    margin-top: 15px;
}

li p{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

li input{
    width: 350px;
    height: 25px;
}

#submit-btn{
    border-radius: 15px;
    background: #F7C548;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    padding: 15px;
    border: 2px solid white;
}

#signup-text{
    color: #F7C548;
    text-decoration: underline;
}